<header>
  <mat-progress-bar color="accent" mode="buffer"></mat-progress-bar>
</header>

<div>
  <mat-tab-group color="accent" mat-align-tabs="end">
    <mat-tab label="Sobre mim">
      <mat-grid-list cols="2" rowHeight="1:1">
        <mat-grid-tile >
          <h1 class="sobremim"> &nbsp;&nbsp; Olá, Seja Bem-vindo&lpar;a&rpar; ao meu site, aqui você irá encontrar várias dicas de beleza, vídeos e fotos do meu trabalho.<br> Meu nome é Letícia dos santos veloso, tenho 19 anos e trabalho na área da estética há 2 anos.<br> Sou completamente apaixonada pelo meu trabalho e sempre busco melhorar meus atendimentos e fazer tudo com amor em cada detalhe!</h1>
        </mat-grid-tile>
        <mat-grid-tile>
          <img class="fotoSobreMim" src="https://i.imgur.com/N0lLfou.jpg" alt="sobreMimFoto">
        </mat-grid-tile>
      </mat-grid-list>
    </mat-tab>
    <mat-tab label="Cuidados da pele">
      <mat-grid-list cols="2" rowHeight="1:1">
        <mat-grid-tile >

        </mat-grid-tile>
        <mat-grid-tile >

        </mat-grid-tile>
      </mat-grid-list>
    </mat-tab>
    <mat-tab label="Cuidados das sobrancelha">Content 3</mat-tab>
  </mat-tab-group>
</div>
<div>
  <mat-divider></mat-divider>
</div>
<footer>
  <mat-progress-bar color="accent" mode="buffer"></mat-progress-bar>
</footer>
